.flip-container {
    perspective: 100vw;
}

.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container4,
.front4,
.back4 {
    width: 16vw;
    height: 16vw;
}

.flip-container6,
.front6,
.back6 {
    width: 8vw;
    height: 8vw;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.borderless td, .borderless th {
    border: none;
}

.active.player1 {
    color: #0077fe;
}

.active.player2 {
    color: #fb6501;
}
