/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    color: #b0b0b0;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
}

.flex-container {
    display: flex;
}

.navbar-btn {
    margin-left: -1em;
    margin-top: -0.5em;
    min-height: 2em;
    margin-bottom: -0.5em;
    padding-left: 1em;
    line-height: 3.8em;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    cursor: pointer;

    background-color: #717185;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.deleteButton .fa-trash-alt {
    font-size: 1.5em;
    color: rgba(103, 104, 107, 0.93);
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.deleteButton .fa-trash-alt:hover {
    color: #d04543;
    font-size: 1.55em;
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}


.navbar-btn:hover {
    background-color: #403e4b;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.highlight {
    background-color: #1b3249;
}

.highlight:hover {
    background-color: #eeecdd;
}

table.dataTable {
    border-spacing: 0 !important;
}

.noBorderSpacing {
    border-spacing: 0 !important;
    background-color: #e2e5e9;
}

.mdl-data-table__cell--non-numeric {
    text-align: left !important;
    height: 4vh !important;
}

.mdl-data-table__cell--non-numeric:hover {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.error {
    color: red !important;
}

.labelBelow {
    margin-top: -0.29em !important;
}

.newRow {
    -webkit-animation: selectFlash 2.5s; /* Safari and Chrome */
    -moz-animation: selectFlash 2.5s; /* Firefox */
    -ms-animation: selectFlash 2.5s; /* Internet Explorer */
    -o-animation: selectFlash 2.5s; /* Opera */
    animation: selectFlash 2.5s;
    transition-timing-function: ease-in-out;
}

@keyframes selectFlash {
    from {
        border: 2px solid #57a3ff;
        background-color: #d4dde8;
    }
    to {
        border: 2px solid #c5c7cc;
        background-color: #e0e3e8;
    }
}

/* Firefox */
@-moz-keyframes selectFlash {
    from {
        border: 2px solid #57a3ff;
        background-color: #d4dde8;
    }
    to {
        border: 2px solid #c5c7cc;
        background-color: #e0e3e8;
    }
}

/* Safari and Chrome */
@-webkit-keyframes selectFlash {
    from {
        border: 2px solid #57a3ff;
        background-color: #d4dde8;
    }
    to {
        border: 2px solid #c5c7cc;
        background-color: #e0e3e8;
    }
}

/* Internet Explorer */
@-ms-keyframes selectFlash {
    from {
        border: 2px solid #57a3ff;
        background-color: #d4dde8;
    }
    to {
        border: 2px solid #c5c7cc;
        background-color: #e0e3e8;
    }
}

​

/* Opera */
@-o-keyframes selectFlash {
    from {
        border: 2px solid #57a3ff;
        background-color: #d4dde8;
    }
    to {
        border: 2px solid #c5c7cc;
        background-color: #e0e3e8;
    }
}


/* Checkboxes from Materialize
   ========================================================================== */
/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

[type="checkbox"] {
    /* checkbox aspect */
}

[type="checkbox"] + span:not(.lever) {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="checkbox"] + span:not(.lever):before,
[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 3px;
    -webkit-transition: .2s;
    transition: .2s;
}

[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:not(:checked):disabled + span:not(.lever):before {
    border: none;
    background-color: rgba(0, 0, 0, 0.42);
}

[type="checkbox"].tabbed:focus + span:not(.lever):after {
    -webkit-transform: scale(1);
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"]:checked + span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"]:checked:disabled + span:before {
    border-right: 2px solid rgba(0, 0, 0, 0.42);
    border-bottom: 2px solid rgba(0, 0, 0, 0.42);
}

/* Indeterminate checkbox */
[type="checkbox"]:indeterminate + span:not(.lever):before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid #26a69a;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"]:indeterminate:disabled + span:not(.lever):before {
    border-right: 2px solid rgba(0, 0, 0, 0.42);
    background-color: transparent;
}

[type="checkbox"].filled-in + span:not(.lever):after {
    border-radius: 2px;
}

[type="checkbox"].filled-in + span:not(.lever):before,
[type="checkbox"].filled-in + span:not(.lever):after {
    content: '';
    left: 0;
    position: absolute;
    /* .1s delay is for check animation */
    -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
    z-index: 1;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0;
}

[type="checkbox"].filled-in:checked + span:not(.lever):before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0;
}

[type="checkbox"].filled-in.tabbed:focus + span:not(.lever):after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"].filled-in.tabbed:checked:focus + span:not(.lever):after {
    border-radius: 2px;
    background-color: #26a69a;
    border-color: #26a69a;
}

[type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):before {
    background-color: transparent;
    border: 2px solid transparent;
}

[type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):after {
    border-color: transparent;
    background-color: #949494;
}

[type="checkbox"].filled-in:disabled:checked + span:not(.lever):before {
    background-color: transparent;
}

[type="checkbox"].filled-in:disabled:checked + span:not(.lever):after {
    background-color: #949494;
    border-color: #949494;
}